<div class="panel-body">
  <% if m3_profile && m3_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m3_profile.errors.count, "error") %> prohibited this m3_profile from being saved:</h2>

      <ul>
        <% m3_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Profile</h4>
  <%= form.input :name %>
  <%= form.input :type %>
  <%= form.input :responsibility %>
  <%= form.input :profile %>

  <%= form.label :responsiblity_statement %>
  <%= form.select(:responsibility_statement, ["Indiana University"], {}, { class: "form-control" }) %><hr>

  <h4>Classes</h4>
  <%= form.fields_for :m3_profile_classes do |c| %>
    <%= c.input :display_label %><hr>
    <h4>Contexts</h4>
    <%= c.fields_for :m3_profile_contexts do |cc| %>
      <%= cc.input :display_label %><hr>
      <h4>Properties</h4>
      <%= cc.fields_for :m3_profile_properties do |p| %>
        <%= p.input :name %>
        <%= p.input :property_uri %>
        <%= p.input :cardinality_minimum %>
        <%= p.input :cardinality_maximum %>
        <%= p.input :indexing %><hr>
        <h4>Text</h4>
        <%= p.fields_for :m3_profile_texts do |t| %>
          <%= t.input :name %>
          <%= t.input :value %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
