<div class="panel-body">
  <% if m3_profile && m3_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m3_profile.errors.count, "error") %> prohibited this m3_profile from being saved:</h2>

      <ul>
        <% m3_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %> 
  <%= form.input :profile_version %> 
  <%= react_component("m3_profile_form") %>
</div>
